:root {
    --main-bg-color: rgb(37, 37, 37);
    --main-txt-color:orange;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--main-bg-color);
}

div {
    margin: 0;
    border: 0;
    padding: 0;
}

#video_block {
    position: fixed;
    width: 100%;
    height: 100%;
}

footer{
    position: fixed;
    opacity: 0;
    bottom: 0;
    z-index: 12;
    width: 100%;
    text-align: center;
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
}

footer:hover {
    cursor: pointer;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

#title{
    position: fixed;
    width: 100%;
    top:100px;
    text-align: center;
    color: var(--main-txt-color);
    z-index: 15;
}

#title :hover{
    cursor: pointer;
}


#header_video{
    top:0;
    left: 0;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    opacity: 1;
}

#content{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 2;
    opacity: 1;
    
}

#inner_top_transparent {
    position: relative;
    height: 1200px;
}

#inner_content1 {
    position: relative;
    background:  var(--main-bg-color);
    height: 400px;
}

#inner_content2 {
   position: relative;
   background-image: url("assets/pinkStars.jpg");
   min-height: 900px; 
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#inner_content3 {
    position: relative;
    background:  var(--main-bg-color);
    height: 400px;
}

#inner_content4 {
   position: relative;
   background-image: url("assets/spaceCat.jpg");
   min-height: 900px; 
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#inner_content5 {
    position: relative;
    background:  var(--main-bg-color);
    height: 100%;
    height: 200px;
   
}
    
#inner_content6 {
    position: relative;
    height: 1200PX;
    z-index: 0;
}
