:root {
    --main-bg-color: rgb(37, 37, 37);
    --main-txt-color:orange;
}
body, html {
    margin: 0;
    height: 100%;
    background: var(--main-bg-color);
}
div {
    margin: 0;
    border: 0;
    padding: 0;
}
#video_block {
    position: fixed;
    width: 100%;
    height: 100%;
}

footer{
    position: fixed;
    bottom: 0;
    z-index: 12;
    width: 100%;
    text-align: center;
    /* font-size: 30px; */
    color: var(--main-txt-color);
    opacity: 0;
    background-color: var(--main-bg-color);
}

footer:hover {
    cursor: pointer;
}


.tooltip {
    position: relative;
    /* display: inline-block; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}





#title{
    position: fixed;
    width: 100%;
    top:100px;
    /* align-content: center; */
    text-align: center;
    color: orange;
    z-index: 15;
}
#title :hover{
    cursor: pointer;
}


#header_video{
    top:0;
    left: 0;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    /* transform: rotateX(0deg); */
    /* min-height: 100%; */
    z-index: 0;
    opacity: 1;
}


#content{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 2;
    opacity: 1;
    
}

#inner_top_transparent {
    position: relative;
    height: 1200px;
    z-index: 0;
}

#inner_content1 {
    position: relative;
    background: rgb(37, 36, 36);
    height: 400px;
}

#inner_content2 {
    /* The image used */
   position: relative;
   background-image: url("assets/maket3.jpg");

   /* Set a specific height */
   min-height: 900px; 

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    
}

#inner_content3 {
    position: relative;
    background: rgb(37, 36, 36);
    height: 400px;
}

#inner_content4 {
   /* The image used */
   position: relative;
   background-image: url("assets/maket2.jpg");

   /* Set a specific height */
   min-height: 900px; 

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    
}
#inner_content5 {
    position: relative;
    background: rgb(37, 36, 36);
    height: 100%;
    height: 200px;
   
}
    
#inner_content6 {
    position: relative;
    height: 1200PX;
    z-index: 0;
}
